//////////////////
//PORTFOLIO PAGE//
//////////////////
@import "./app.scss";

.legend-panel {
    background-color: $gray-900;
    text-align: center;
    margin: 0;
    padding: 0;
}

.legend-title {
    font-family: "Roboto", sans-serif; 
    font-weight: bold;
    font-size: 52px;
    margin: 40px;
    text-align: center;
}

.legend-item {
    color: $red;
    background-color: $gray-900;
    font-size: 36px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    border: none;
    width: 100%;
    padding: 20px 0px 20px 0px;
}

.legend-item:hover {
    background-color: $gray-800;
    color: $yellow;
}

.stick {
    position: fixed;
    width: 17%;
    top: 5%;
    left: 0;
    margin: 0;
    padding: 0;
}

.main-panel {
    color: $gray-800;
    background-color: $gray-300;
    padding: 50px 80px 50px 80px;
}

.main-bar {
    width: 20%;
    height: 2px;
    border-color: $gray-800;
    border-width: 1px 0;
    border-style: solid none;
    margin: 20px 0px 20px 0px;
}

.main-heading {
    color: $red;
    font-weight: bold;
    text-shadow: 0px 0px 5px rgba($black, 0.2);
}

.main-text {
    margin-bottom: 50px;
    line-height: 1.5;
}

.emph {
    font-weight: bold;
    color: $gray-500;
    text-decoration: underline;
}

.main-img {
    width: 70%;
    margin-bottom: 50px;
}