//HOME PAGE SCSS FILE

//Fonts
@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
$op: "Overpass", sans-serif;
$ns: "Nunito Sans", sans-serif;

// Breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// The infinity palette
$infred: #e60013;
$inforange: #ff8126;
$infyellow: #ffe800;
$infgreen: #14ff2f;
$infforest: #0b7417;
$infblue: #009bff;
$infcyan: #30ffff;
$infpurple: #6d23ff;
$infmagenta: #c214ff;
$infgraydark: #494949;
$infgraylight: #fafafa;

//MAIN PROPERTIES
body {
    font-family: $ns;
    font-size: 26px;
    background-color: $infgraylight;
}



.sec-title {
    font-family: $op;
    font-size: 70px;
    line-height: 75px;
    font-weight: 700;
}

.divider {
    margin: 25px auto 35px;
    width: 66%;
    background-color: $infgraylight;
    min-height: 2px;
}
.divider-small {
    margin: 10px auto 20px;
    width: 66%;
    background-color: $infgraylight;
    min-height: 1px;
}

//SECTION 1 (WHO AM I?)
.container#section1 {
    background-color: $infblue;
    color: $infgraylight;
    margin: 0;
    min-width: 100%;
    padding: 50px 13%;
}

#sec1-title {
    @extend .sec-title;
    text-align: center;
}

#sec1-description {
    line-height: 50px;
}

#sec1-img {
    border: 2px solid $infgraylight;
    border-radius: 3px;
    box-shadow: 3px 3px 4px 1px #00000044;
    margin: auto;
}

@media screen and (max-width: $lg) {
    #sec1-img {
        margin: 20px 15px;
    }
}

//SECTION 2 (What do I do?)
.container#section2 {
    background-color: $infgraydark;
    color: white;
    margin: 0;
    min-width: 100%;
    padding: 50px 13%;
}

#sec2-title {
    @extend .sec-title;
    text-align: center;
}

.sec2-subtitle {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
}
.sec2-desc {
    text-align: center;
}

//SECTION 3 (Certifications)
.container#section3 {
    background-color: $infgraylight;
    color: $infforest;
    margin: 0;
    min-width: 100%;
    padding: 50px 13%;
}

#sec3-title {
    @extend .sec-title;
    text-align: center;
    color: $infforest;
}

#sec3-desc {
    line-height: 50px;
}

.divider-forest {
    margin: 25px auto 35px;
    width: 66%;
    background-color: $infforest;
    min-height: 2px;
}

.sec3-cert {
    font-weight: bold;
}