//////////////////
//PORTFOLIO PAGE//
//////////////////
@import "./app.scss";

.exp {
    color: $gray-100;
    border-radius: 4px;
}

.opt { background-color: $red; padding: 0px 4px 0px 4px;}
.fam { background-color: $orange; }
.skl { background-color: $blue; }
.adv { background-color: $indigo; }


.port-body {
    padding: 20px;
}

.port-area {
    background-color: $gray-700;
    padding: 20px;
    border-radius: 15px;
    margin: 5px;
    height: 100%
}

.fcc-prog {
    margin-top: 20px;
}

hr {
    border-color: $gray-500;
    border-width: 1px 0;
    border-style: solid none;
    margin: 10px 0px 10px 0px;
}

.lang-item {
    margin: 20px;
}