//////////////////
//PORTFOLIO PAGE//
//////////////////
@import "./app.scss";

.exp {
    color: $gray-100;
    border-radius: 4px;
    padding: 1px 4px 1px 4px;
}

.opt { background-color: $red;}
.fam { background-color: $orange; }
.skl { background-color: $blue; }
.adv { background-color: $indigo; }


.port-body {
    padding: 20px;
}

.port-area {
    background-color: $gray-700;
    padding: 20px;
    border-radius: 15px;
    margin: 5px;
    height: 100%
}

.fcc-prog {
    margin-top: 20px;
}

hr {
    border-color: $gray-500;
    border-width: 1px 0;
    border-style: solid none;
    margin: 10px 0px 10px 0px;
}

.lang-item {
    margin: 16px;
}

.port-header {
    margin: -20px 0px 0px 0px;
    color: $teal;
    letter-spacing: .6em;
    font-weight: bold;
    font-family: "Roboto", sans-serif; 
    font-size: 100px;
}

.port-title {
    color: $cyan;
}

.port-subtitle {
    margin-top: 20px;
    color: $teal;
    text-decoration: underline;
}