/////////////////
//PROJECTS PAGE//
/////////////////
@import "./app.scss";

.proj-body {
    width: 75%
}

.proj-header {
    margin: -20px 0px 0px 0.15em;
    color: $yellow;
    letter-spacing: .2em;
    font-weight: bold;
    font-family: "Roboto", sans-serif; 
    font-size: 100px;
    text-align: center;
}

.proj-box {
    border-style: solid;
    border-width: 0px 0px 0px 6px;
    border-radius: 10px;
    border-color: $yellow;
    margin-top: 15px;
    margin-bottom: 50px;
    padding: 0;
    background-color: $gray-700;
    min-height: 200px;
}

.proj-box:hover {
    transform: scale(0.99);
    transition-timing-function: ease-in;
    transition: 0.2s;
}

.proj-box:not(:hover) {
    transform: scale(1);
    transition-timing-function: ease-in;
    transition: 0.2s;
}

.proj-img {
    padding: 10px;
    border-radius: 10px;
    width: 100%
}

.proj-name {
    font-size: 5em;
    position: relative;
}

.proj-desc {
    font-size: 2em;
    color: $white;
    position: absolute;
    bottom: 0;
    left: 2;
    padding-right: 20px;
}

/////////////////
//CONTACTS PAGE//
/////////////////

.contact-header {
    margin: -20px 0px 0px 0.05em;
    color: $blue;
    letter-spacing: .2em;
    font-weight: bold;
    font-family: "Roboto", sans-serif; 
    font-size: 100px;
    text-align: center;
}

.contact-main {
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 50px;
    padding: 30px;
    background-color: $gray-700;
    text-align: center;
}

.cont-method {
    margin-top: 30px;
}

.cmt {
    color: $cyan;
    font-weight: bold;
}
