.cal-col {
    border-width: 1px 1px 1px 0px;
    border-color: #222;
    border-style: solid;
}

.cal-col:first-child {
    border-width: 1px 1px 1px 1px;
}

.cal-col2 {
    border-width: 0px 1px 1px 0px;
    border-color: #222;
    border-style: solid;
}

.cal-col2:first-child {
    border-width: 0px 1px 1px 1px;
}

.cal-modify {
    border: 1px solid #222;
}

.cal-text {
    font-size: 12px;
}

.cal-text .cal-head {
    font-weight: bold;
    margin-top: -30px;
    margin-bottom: -30px;
}

.cal-box {
    min-height: 60px;
}

.cal-modify { 
    margin-top: -20px;
    padding: 2px 5px 2px 5px;
    font-size: 12px;
    border: none;
}

.timebox {
    width: 70px;
    height: 20px;
    margin: 0;
    padding: 3px;
}