/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*
*           STYLESHEET FOR PORTFOLIO SEGMENT OF WEBSITE
*
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


//Fonts
@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');

// Breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// GLOBALS
///////////////////////////////////////////////////
$blue: #0069aa;
$indigo: #7a09fa;
$purple: #3003d9;
$pink: #c85086;
$red: #891e2b;
$orange: #ff5000;
$yellow: #ffa214;
$yellowhover: #d38511;
$green: #1e6f50;
$teal: #33984b;
$cyan: #0098dc;
$white: #fff;
$gray-100: #f5f5fa;
$gray-200: #e1e9f7;
$gray-300: #c7cfdd;
$gray-400: #92a1b9;
$gray-500: #657392;
$gray-600: #424c6e;
$gray-700: #2a2f4e;
$gray-800: #1a1932;
$gray-900: #0e071b;
$black: #000;

$purple2: #7953A9;
$purple1: #8B74BD;
$bgcolor: #daddff;
$blue1: #B9BFFF;
$blue2: #4066E0;
$blue3: #22277A;

// The infinity palette
$infred: #e60013;
$inforange: #ff8126;
$infyellow: #ffe800;
$infgreen: #14ff2f;
$infforest: #0b7417;
$infnavy: #1e3c64;
$infblue: #009bff;
$infcyan: #30ffff;
$infpurple: #663399;
$infmagenta: #c214ff;
$infgraydark: #494949;
$infgraylight: #fafafa;


$fn: "Nunito", sans-serif; //Nunito variable
$fos: "Open Sans", sans-serif; //Roboto variable
$op: "Overpass", sans-serif;
$ns: "Nunito Sans", sans-serif;

.fn { font-family: $fn } //Nunito
.fos { font-family: $fos } //Roboto

footer {
    padding: 10px;
    background-color: $gray-800;
    color: $white;
}

::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: $gray-200; }
::-webkit-scrollbar-thumb { background: $gray-400; }
::-webkit-scrollbar-thumb:hover { background: $gray-500; }

//*{ border: 1px solid red; }

// WEBSITE NAVIGATION BAR
///////////////////////////////////////////////////
.navbar-tt {
    background-color: $gray-200 !important;
    box-shadow: 0px 2px 7px 2px rgba($black, 0.1) !important;
}

#navbar-tt #nav-logo{
    background: url("/res/logo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    border: none;
	padding: 0;
	outline: inherit;
    max-width: 256px;
    max-height: 32px;
    width: 16rem;
    height: 2rem;
}

#navbar-tt #nav-logo:hover {
    background: url("/res/logo2.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.nav-btn {
    background: none;
	border: none;
	padding: 0;
	outline: inherit;
    font-size: 1.4rem;
    color: $infnavy !important;
    font-family: $ns;
    font-weight: 700;
    margin: 8px 20px 8px 20px;
}

.nav-btn:focus {
    outline: inherit !important;
}
.nav-btn:hover {
    transform: scale(1.05) !important;
    transition-timing-function: ease-in !important;
    transition: 0.07s !important;
    font-weight: 800;
}
.nav-btn:not(:hover) {
    transform: scale(1) !important;
    transition-timing-function: ease-in !important;
    transition: 0.07s !important;
}

/*
    GLOBAL VARS
*/

.sec-title {
    font-family: $op;
    font-size: 70px;
    line-height: 75px;
    font-weight: 700;
}

/*
    SECTION 0 (Greeting Area)
*/
.container#s0 {
    margin: 0;
    min-width: 100%;
    padding: 0 15% 50px;
    background-color: $infnavy;
    font-family: $ns;
}

#s0-header {
    padding: 130px 0px 70px;
}

// BEGIN Gradient background. Credit to Ian Forest https://www.gradient-animator.com/ https://www.ianforrest.com/
.s0-animbg {
    background: linear-gradient(270deg, #1e3c64, #0089e1, #663399, #b416ec);
    background-size: 800% 800%;
    -webkit-animation: GradientBG 35s ease infinite;
    -moz-animation: GradientBG 35s ease infinite;
    -o-animation: GradientBG 35s ease infinite;
    animation: GradientBG 35s ease infinite;
}
@-webkit-keyframes GradientBG {
    0%{background-position:63% 0%}
    50%{background-position:38% 100%}
    100%{background-position:63% 0%}
}
@-moz-keyframes GradientBG {
    0%{background-position:63% 0%}
    50%{background-position:38% 100%}
    100%{background-position:63% 0%}
}
@-o-keyframes GradientBG {
    0%{background-position:63% 0%}
    50%{background-position:38% 100%}
    100%{background-position:63% 0%}
}
@keyframes GradientBG {
    0%{background-position:63% 0%}
    50%{background-position:38% 100%}
    100%{background-position:63% 0%}
}
// END Gradient Background

#s0-name {
    font-family: $op;
    font-size: 100px;
    line-height: 100px;
    color: $gray-200;
    font-weight: 700;
    text-align: center;
}

#s0-summary {
    font-family: $op;
    font-size: 42px;
    line-height: 42px;
    color: $gray-200;
    font-style: italic;
    text-align: center;
    margin-bottom: 0 !important;
}

#s0-subheader {
    align-items: center;
}

#s0-hr {
    background-color: $gray-200;
    width: 80%;
    margin: 0 10% 45px;
}

#s0-desctext {
    font-size: 24px;
    font-weight: 300;
    color: $gray-200;
    margin: auto 10% 100px;
}

#s0-jumptitle {
    text-align: center;
    color: $gray-700;
    font-size: 32px;
    line-height: 32px;
    font-weight: bold;
    font-style: italic;
    margin: 30px 0px 30px;
}

@media screen and ( max-width: $md ) {
    .container#s0 { padding: 0 7.5% 50px; }
    #s0-header { padding: 70px 0px 30px; }
    #s0-name{ font-size: 70px; line-height: 70px; } 
    #s0-summary { font-size: 28px; line-height: 28px; }
    #s0-hr { margin: 0 10% 25px; }
    #s0-desctext { font-size: 20px; font-weight: 400; color: $gray-200; margin: auto 10% 50px; }
}
@media screen and ( max-width: $sm ) {
    .container#s0 { padding: 0 4% 50px; }
    #s0-header { padding: 70px 0px 30px; }
    #s0-name{ font-size: 48px; line-height: 48px; } 
    #s0-summary { font-size: 26px; line-height: 22px; }
    #s0-hr { margin: 0 10% 25px; }
    #s0-desctext { font-size: 20px; font-weight: 400; color: $gray-200; margin: auto auto 50px; }
}

/*
    SECTION 1 (Portfolio)
*/
.container#s1 {
    margin: 0;
    min-width: 100%;
    padding: 0 20% 50px;
    background-color: $gray-200;
    color: $gray-900;
    font-family: $ns;
    font-size: 24px;
    line-height: 44px;
    font-weight: 300;
}

#s1-header {
    font-family: $op;
    font-size: 72px;
    font-style: italic;
    line-height: 72px;
    font-weight: 200;
    color: $gray-200;
    background-color: $infpurple;
    margin: 20px auto 0;
    padding: 15px 30px 3px;
    border-radius: 20px 0px 20px 0px;
    text-align: center;
    display: inline-block;
}

.s1-title {
    padding-top: 20px;
    color: $infpurple;
    font-weight: bold;
}

.s1-bar {
    width: 100%;
    height: 2px;
    border-color: $gray-500;
    border-width: 1px 0;
    border-style: solid none;
    margin: 10px 0px 20px;
}

a[id^='skl-tab'] {
    color: $infmagenta;
}
a[id^='skl-tab'].active {
    font-weight: bold;
    color: $infpurple !important;
    background-color: rgba(0,0,0,0.1) !important;
    border-bottom: none !important;
}

@media screen and ( max-width: $md ) {
    .container#s1 { 
        padding: 0 7.5% 50px; 
        font-size: 20px;
        line-height: 26px;
        font-weight: 400;
    }
    #s1-header {
        font-size: 44px;
        line-height: 44px;
        margin: 0px auto 0;
        border-radius: 15px 0px 15px 0px;
    }
    .s1-title {
        padding-top: 5px;
        font-size: 26px;
        text-align: center;
    }
}
@media screen and ( max-width: $sm ) {
    .container#s1 { padding: 0 4% 50px; }
}

/*
    SECTION 2 (Projects)
*/
.container#s2 {
    margin: 0;
    min-width: 100%;
    padding: 0 20% 50px;
    background-color: $gray-700;
    color: $gray-900;
    font-family: $ns;
    font-size: 24px;
    line-height: 44px;
    font-weight: 300;
    color: 100;
}

#s2-header {
    font-family: $op;
    font-size: 72px;
    font-style: italic;
    line-height: 72px;
    font-weight: 200;
    color: $gray-700;
    background-color: $yellow;
    margin: 20px auto 0;
    padding: 15px 30px 3px;
    border-radius: 20px 0px 20px 0px;
    text-align: center;
    display: inline-block;
}

.s2-button {
    width: 90%;
    margin: 10px 5%;
    border-radius: 5px;
    border-width: 0px 0px 2px;
    font-size: 20px;
    background-color: rgba($gray-500, 0.6);
    border-color: $yellow;
    padding-top: 10px;
    -webkit-box-shadow: 0px 8px 14px -1px rgba($gray-900,0.1);
    box-shadow: 0px 12px 8px -1px rgba($gray-900,0.1);
}

.s2-button:hover {
    background-color: $yellow;
    border-color: $yellowhover;
    color: $gray-700;
    border-width: 0px 0px 4px;
    padding-bottom: 4px;
}

@media screen and ( max-width: $md ) {
    .container#s2 { 
        padding: 0 7.5% 50px; 
        font-size: 20px;
        line-height: 26px;
        font-weight: 400;
    }
    #s2-header {
        font-size: 44px;
        line-height: 44px;
        margin: 0px auto 0;
        border-radius: 15px 0px 15px 0px;
    }
}
@media screen and ( max-width: $sm ) {
    .container#s2 { padding: 0 4% 50px; }
}

/*
    SECTION 3 (Contact)
*/
.container#s3 {
    margin: 0;
    min-width: 100%;
    padding: 0 20% 10px;
    background-color: $gray-400;
    color: $gray-900;
    font-family: $ns;
    font-size: 24px;
    line-height: 44px;
    font-weight: 300;
    color: 100;
}

#s3-header {
    font-family: $op;
    font-size: 72px;
    font-style: italic;
    line-height: 72px;
    font-weight: 200;
    color: $gray-400;
    background-color: $infnavy;
    margin: 20px auto 0;
    padding: 15px 30px 3px;
    border-radius: 20px 0px 20px 0px;
    text-align: center;
    display: inline-block;
}

.s3-link {
    font-weight: bold;
    color: $infnavy;
}

.s3-bar {
    width: 40%;
    height: 1px;
    background-color: rgba($gray-500, 0.5);
    margin: 50px 30% 20px;
}

#s3-footer {
    text-align: center;
    font-size: 14px;
    line-height: 14px;
}

@media screen and ( max-width: $md ) {
    .container#s3 { 
        padding: 0 7.5% 50px; 
        font-size: 20px;
        line-height: 26px;
        font-weight: 400;
    }
    #s3-header {
        font-size: 44px;
        line-height: 44px;
        margin: 0px auto 0;
        border-radius: 15px 0px 15px 0px;
    }
}
@media screen and ( max-width: $sm ) {
    .container#s3 { padding: 0 4% 50px; }
}