/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*
*           STYLESHEET FOR PORTFOLIO SEGMENT OF WEBSITE
*
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


//Fonts
@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');

// Breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// GLOBALS
///////////////////////////////////////////////////
$blue: #0069aa;
$indigo: #7a09fa;
$purple: #3003d9;
$pink: #c85086;
$red: #891e2b;
$orange: #ff5000;
$yellow: #ffa214;
$green: #1e6f50;
$teal: #33984b;
$cyan: #0098dc;
$white: #fff;
$gray-100: #f5f5fa;
$gray-200: #e1e9f7;
$gray-300: #c7cfdd;
$gray-400: #92a1b9;
$gray-500: #657392;
$gray-600: #424c6e;
$gray-700: #2a2f4e;
$gray-800: #1a1932;
$gray-900: #0e071b;
$black: #000;

$purple3: #663399;
$purple2: #7953A9;
$purple1: #8B74BD;
$bgcolor: #daddff;
$blue1: #B9BFFF;
$blue2: #4066E0;
$blue3: #22277A;

// The infinity palette
$infred: #e60013;
$inforange: #ff8126;
$infyellow: #ffe800;
$infgreen: #14ff2f;
$infforest: #0b7417;
$infnavy: #005d9b;
$infblue: #009bff;
$infcyan: #30ffff;
$infpurple: #6d23ff;
$infmagenta: #c214ff;
$infgraydark: #494949;
$infgraylight: #fafafa;


$fn: "Nunito", sans-serif; //Nunito variable
$fos: "Open Sans", sans-serif; //Roboto variable
$op: "Overpass", sans-serif;
$ns: "Nunito Sans", sans-serif;

.fn { font-family: $fn } //Nunito
.fos { font-family: $fos } //Roboto

footer {
    padding: 10px;
    background-color: $gray-800;
    color: $white;
}

::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: $gray-200; }
::-webkit-scrollbar-thumb { background: $gray-400; }
::-webkit-scrollbar-thumb:hover { background: $gray-500; }

//*{ border: 1px solid red; }

// WEBSITE NAVIGATION BAR
///////////////////////////////////////////////////
.navbar-tt {
    background-color: $gray-200 !important;
    box-shadow: 0px 2px 7px 2px rgba($black, 0.1) !important;
}

#navbar-tt #nav-logo{
    background: url("/res/logo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    border: none;
	padding: 0;
	outline: inherit;
    max-width: 256px;
    max-height: 32px;
    width: 16rem;
    height: 2rem;
}

#navbar-tt #nav-logo:hover {
    background: url("/res/logo2.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.nav-btn {
    background: none;
	border: none;
	padding: 0;
	outline: inherit;
    font-size: 1.4rem;
    color: $infnavy !important;
    font-family: $ns;
    font-weight: 700;
    margin: 8px 20px 8px 20px;
}

.nav-btn:focus {
    outline: inherit !important;
}
.nav-btn:hover {
    transform: scale(1.05) !important;
    transition-timing-function: ease-in !important;
    transition: 0.07s !important;
    font-weight: 800;
}
.nav-btn:not(:hover) {
    transform: scale(1) !important;
    transition-timing-function: ease-in !important;
    transition: 0.07s !important;
}

/*
    GLOBAL VARS
*/

.sec-title {
    font-family: $op;
    font-size: 70px;
    line-height: 75px;
    font-weight: 700;
}

/*
    SECTION 0 (Greeting Area)
*/
.container#s0 {
    margin: 0;
    min-width: 100%;
    padding: 0 15% 50px;
    background-color: $gray-300;
    font-family: $ns;
}

#s0-header {
    padding: 65px 0px 50px;
}

#s0-name {
    font-family: $op;
    font-size: 100px;
    line-height: 100px;
    color: $infnavy;
    font-weight: 700;
    text-align: center;
}

#s0-summary {
    font-family: $op;
    font-size: 50px;
    line-height: 50px;
    color: $gray-700;
    text-align: center;
    margin-bottom: 0 !important;
}

#s0-subheader {
    align-items: center;
}

#s0-descbox {
    background-color: $gray-200;
    border-radius: 20px;
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
}

#s0-willportrait {
    width: 90%;
    margin: 0px 5% 0px;
}

#s0-desctext {
    font-size: 24px;
    margin-bottom: 0;
}

#s0-jumptitle {
    text-align: center;
    color: $gray-700;
    font-size: 32px;
    line-height: 32px;
    font-weight: bold;
    font-style: italic;
    margin: 30px 0px 30px;
}

#home-topic-title {
    color: $cyan;
    margin-bottom: 20px;
    font-family: $fn;
    font-size: 2vw;
}

#home-topic-subtitle {
    color: $indigo;
    font-family: $fn;
    font-size: 1.5vw;
}

.home-topic {
    border-style: solid;
    border-width: 10px 0px 0px 0px;
    border-radius: 10px;
    padding: 0 !important;
    background-color: $gray-200;
}
.home-topic:focus {
    outline: inherit;
}
.home-topic:hover {
    transform: scale(0.98);
    transition-timing-function: ease-in;
    transition: 0.2s;
}
.home-topic:not(:hover) {
    transform: scale(1);
    transition-timing-function: ease-in;
    transition: 0.2s;
}

.home-topic-portfolio { border-color: $green;}
.home-topic-projects { border-color: $yellow;}
.home-topic-about { border-color: $red;}
.home-topic-contact { border-color: $blue;}

.home-topic-img {
    width: 100%;
    height: 100%;
}

.home-topic-textarea {
    margin: 25px 40px 25px 40px;
}

.home-topic-header-portfolio { color: $green; font-weight: bold; font-family: $fn; };
.home-topic-header-projects { color: $yellow; font-weight: bold; font-family: $fn; };
.home-topic-header-about { color: $red; font-weight: bold; font-family: $fn; };
.home-topic-header-contact { color: $blue; font-weight: bold; font-family: $fn; };

.home-topic-desc {
    color: $gray-200;
    font-family: $fn;
}

/*
    SECTION 1 (Portfolio)
*/
.container#s1 {
    margin: 0;
    min-width: 100%;
    padding: 0 20% 50px;
    background-color: $gray-200;
    color: $gray-900;
    font-family: $ns;
}

#s1-header {
    font-family: $op;
    font-size: 72px;
    line-height: 72px;
    font-weight: bold;
    color: $gray-200;
    background-color: $gray-700;
    margin: 20px auto 0;
    padding: 15px 15px 3px;
    border-radius: 20px 0px 20px 0px;
    text-align: center;
    display: inline-block;
}

.s1-title {
    padding-top: 60px;
    color: $infnavy;
    font-weight: bold;
}

.s1-bar {
    width: 100%;
    height: 2px;
    border-color: $gray-500;
    border-width: 1px 0;
    border-style: solid none;
    margin: 10px 0px 20px;
}

.s1-skillset {
    font-weight: bold;
    background-color: $gray-600;
    color: $gray-200;
    padding: 3px 10px;
    border-radius: 8px 0px 8px 0px;
    margin-right: 10px;
}


.exp {
    color: $gray-700;
    border-radius: 4px;
    padding: 1px 4px 1px 4px;
    font-family: $fn;
}

.lang-item { 
    margin: 16px; 
    font-family: $fn;
    color: $white;
}
.opt { background-color: $red; }
.fam { background-color: $orange; }
.skl { background-color: $blue; }
.adv { background-color: $indigo; }


/////////////
/////////////
/////////////
///PROJECTS//
///  PAGE ///
/////////////
/////////////

.proj-body {
    width: 75%
}

.proj-header {
    margin: -20px 0px 0px 0.15em;
    color: $yellow;
    letter-spacing: .2em;
    font-weight: bold;
    font-family: "Roboto", sans-serif; 
    font-size: 100px;
    text-align: center;
}

.proj-box {
    border-style: solid;
    border-width: 0px 0px 0px 6px;
    border-radius: 10px;
    border-color: $yellow;
    margin-top: 50px;
    padding: 0;
    background-color: $gray-700;
    min-height: 200px;
}
.proj-box:focus {
    outline: inherit;
}
.proj-box:hover {
    transform: scale(0.99);
    transition-timing-function: ease-in;
    transition: 0.2s;
}
.proj-box:not(:hover) {
    transform: scale(1);
    transition-timing-function: ease-in;
    transition: 0.2s;
}

.proj-img {
    padding: 10px;
    border-radius: 10px;
    width: 100%
}

.proj-name {
    margin-top: 20px;
    font-size: 1.8vw;
    font-family: $fn;
    color: $yellow;
    position: relative;
}

.proj-desc {
    font-size: 1.3vw;
    font-family: $fn;
    color: $white;
    position: absolute;
    bottom: 0;
    left: 2;
    padding-right: 20px;
}

/////////////
/////////////
/////////////
/// ABOUT ///
///  PAGE ///
/////////////
/////////////

.about-legend-panel {
    background-color: $gray-900;
    text-align: center;
    margin: 0;
    padding: 0;
}

.about-legend-title {
    font-family: $fos; 
    font-weight: bold;
    font-size: 2.5vw;
    color: $gray-300;
    padding-top: 5vh;
    margin: 40px;
    text-align: center;
}

.about-legend-item {
    color: $red;
    background-color: $gray-900;
    font-size: 2vw;
    font-weight: bold;
    font-family: $fos;
    border: none;
    width: 100%;
    padding: 20px 0px 20px 0px;
}
.about-legend-item:hover {
    background-color: $gray-800;
    color: $yellow;
}

.about-stick {
    position: fixed;
    width: 17%;
    top: 5%;
    left: 0;
    margin: 0;
    padding: 0;
}

.about-main-panel {
    color: $gray-800;
    background-color: $gray-300;
    padding: 50px 10vw 50px 10vw;
}

.about-main-bar {
    width: 20%;
    height: 2px;
    border-color: $gray-800;
    border-width: 1px 0;
    border-style: solid none;
    margin: 20px 0px 20px 0px;
}

.about-main-heading {
    color: $red;
    font-weight: bold;
    text-shadow: 0px 0px 5px rgba($black, 0.2);
    font-family: $fn;
}

.about-main-text {
    margin-bottom: 50px;
    line-height: 1.5;
    font-family: $fn;
}

.about-emph {
    font-weight: bold;
    color: $gray-500;
    text-decoration: underline;
}

.about-main-img {
    width: 70%;
    margin-bottom: 50px;
}

/////////////
/////////////
/////////////
// CONTACT //
///  PAGE ///
/////////////
/////////////

.contact-body {
    background-color: $gray-800;
    height: 100vh;
}

.contact-header {
    margin: -20px 0px 0px 0px;
    color: $blue;
    letter-spacing: .2em;
    font-weight: bold;
    font-family: $fos;
    font-size: 7rem;
    text-align: center;
}

.contact-method {
    margin-top: 30px;
    font-size: 1.5rem;
    font-family: $fn;
    color: $white;
    text-align: center;
}

.cmt {
    color: $cyan;
    font-weight: bold;
}
